<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragments">
<title th:text="${title}">Тут название страницы написать</title>
<meta content="Описание страницы" name="description" th:content="${metacontent}"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
<!--meta( http-equiv="cache-control" content="no-cache")-->
<!--meta( http-equiv="expires" content="0")-->
<!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
<link href="favicon.ico" rel="shortcut icon"/>
<link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload"/>
<link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload"/>
<link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload"/>
<link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload"/>
<link rel="stylesheet" th:href="@{'/assets/css/fonts.min.css?v=' + ${id}}"/>
<link rel="stylesheet" th:href="@{'/assets/css/basic.min.css?v=' + ${id}}"/>
<link rel="stylesheet" th:href="@{'/assets/css/extra.min.css?v=' + ${id}}"/>
<script defer="1" th:src="@{'/assets/js/scripts.min.js?v=' + ${id}}"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<meta id="_csrf" name="_csrf" th:content="${_csrf.getToken()}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.getHeaderName()}"/>-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $("#locales").val();

            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>
