
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <div th:replace="~{fragments/support_head_fragment :: fragments(title = ${author.getFullName()}, metacontent = ${author.getFullName()}, id = '40130258')}"></div>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a th:href="@{/}" th:text="#{topbar.main}">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a th:href="@{/genres}" th:text="#{topbar.genres}">Книги</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${author.getFullName()}"><span>Борис Васильевич Бедный</span>
          </li>
        </ul>
        <h1 class="Middle-title" th:text="${author.getFullName()}">Борис Васильевич Бедный
        </h1>
        <div class="Section">
          <div class="Cards Cards_refresh">
            <div class="Card" th:each="book : ${books.getBooks()}"><a class="Card-picture"
                                                                      th:href="'/book/' + ${book.getSlug()}"><img
                    alt="card.jpg" th:src="${book.getImage()}"/>
              <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
              </div>
              <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                      class="Card-ribbonText">Бестселлер</span>
              </div>
            </a>
              <div class="Card-content">
                <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                              th:text="${book.getTitle()}">Техника</a>
                </strong>
                <div class="Card-description"
                     th:href="'/authors/' + ${book.getAuthor().getId()}"
                     th:text="${book.getAuthor()}">Кондратенко Александр Петрович
                </div>
                <div class="Card-cost">
                  <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                  <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                </div>
              </div>
            </div>

            <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" data-refreshlimit="5"
                                                             data-refreshoffset="0" data-refreshshow="author" href="#"
                                                             th:data-refreshid="${author.getId()}">Показать еще</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>
