<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.news}, metacontent = 'Новые книги', id = '09585989')}"></div>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment(selectedItem = 'recent')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{/genres}" th:text="#{topbar.genres}">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current" th:text="#{topbar.news}"><span>Новинки</span>
                </li>
            </ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title">Новинки
                    </h1>
                    <form class="form form_inline Section-header-form" th:action="@{/api/books/recentBooks}"
                          th:method="post">
                        <div class="form-group">
                            <label class="form-label">с
                            </label>
                            <input autocomplete="off" class="form-input form-input_date form-input_date_uninit"
                                   data-refreshfrom="0" data-refreshlimit="5" data-refreshoffset="0"
                                   data-refreshshow="changedate"
                                   th:id="fromdaterecent" th:name="fromdaterecent" th:placeholder="Дата"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label">по
                            </label>
                            <input autocomplete="off" class="form-input form-input_date form-input_date_uninit"
                                   data-refreshlimit="5" data-refreshoffset="0" data-refreshshow="changedate"
                                   data-refreshto="0"
                                   th:id="enddaterecent" th:name="enddaterecent" th:placeholder="Дата"
                                   type="text"/>
                        </div>
                    </form>
                </div>
                <div class="Cards Cards_refresh" th:each="book : ${books.getBooks()}">
                    <div class="Card">
                        <div class="Card-picture"><a th:href="'/book/' + ${book.getSlug()}"><img
                                alt="card.jpg" th:src="${book.getImage()}"/></a>
                            <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
                            </div>
                            <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                                    class="Card-ribbonText">Бестселлер</span>
                            </div>
                        </div>
                        <a class="Card-status" title="Куплена"><img alt="check.svg" src="/assets/img/icons/check.svg"/></a>
                    </div>
                    <div class="Card-content">
                        <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                      th:text="${book.getTitle()}">Великая Отечественная война.
                            1941-1945</a>
                        </strong>
                        <div class="Card-description" th:text="${book.getAuthor()}">Солопенко Алла, Меркулов Дмитрий
                        </div>
                        <div class="Card-cost">
                            <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                            <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                        </div>
                    </div>
                </div>

                <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" data-refreshlimit="5"
                                                                 data-refreshoffset="0" data-refreshshow="recent"
                                                                 href="#">Показать еще</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>
