<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = ${book.getTitle()}, metacontent = ${book.getTitle()}, id = '87821122')}"></div>
    <link href="/assets/css/DownloadBookWindowStyle.css" rel="stylesheet">
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->

<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{/genres}" th:text="#{topbar.genres}">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${book.getTitle()}">
                    <span>Мара и морок</span>
                </li>
            </ul>
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        <div class="ProductCard-photo" id="uploadButton"><img alt="card.jpg" src="#"
                                                                              th:src="${book.getImage()}"/>
                        </div>
                    </div>
                    <div class="ProductCard-desc">
                        <div class="ProductCard-header">
                            <h1 class="ProductCard-title" th:text="${book.getTitle()}">Мара и морок
                            </h1>
                            <div class="ProductCard-author"><span class="ProductCard-titleProp"
                            >Автор:</span>&#32;<a th:href="'/authors/' + ${book.getAuthor().getId()}"
                                                  th:text="${book.getAuthor().getFullName()}">Лия Арден</a>
                            </div>
                            <div class="ProductCard-rating"><span class="ProductCard-titleProp">Рейтинг:</span>
                                <button class="trigger trigger_dropdown" type="button">
                                    <div class="Rating Rating_noStyleLink"><span class="Rating-stars"><span
                                            th:class="${book.getRate() >= 1? 'Rating-star Rating-star_view' : 'Rating-star'}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span
                                            th:class="${book.getRate() >= 2? 'Rating-star Rating-star_view' : 'Rating-star'}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span
                                            th:class="${book.getRate() >= 3? 'Rating-star Rating-star_view' : 'Rating-star'}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span
                                            th:class="${book.getRate() >= 4? 'Rating-star Rating-star_view' : 'Rating-star'}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span
                                            th:class="${book.getRate() >= 5? 'Rating-star Rating-star_view' : 'Rating-star'}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span></span>
                                        <span class="Rating-title"
                                              th:text="'(' + ${book.getRateCount()} + ')'">(567)</span>
                                    </div>
                                    <div class="modal modal_compression modal_dropdown">
                                        <div class="modal-window"><a class="modal-close"
                                                                     href="#"><span></span><span></span></a>
                                            <strong class="modal-title">Распределение оценок
                                            </strong>
                                            <div class="RatingGroup"><span class="Rating"><span
                                                    class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"
                                                          th:text="${book.getRates().get(5)}">1</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"
                                                          th:text="${book.getRates().get(4)}">4</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"
                                                          th:text="${book.getRates().get(3)}">0</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"
                                                          th:text="${book.getRates().get(2)}">10</span></span><br><span
                                                    class="Rating"><span
                                                    class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"
                                                          th:text="${book.getRates().get(1)}">3</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="ProductCard-assessment"><span
                                    class="ProductCard-titleProp">Оцените книгу:</span><span class="Rating Rating_input"
                                                                                             th:data-bookid="${book.getSlug()}"><span
                                    class="Rating-stars"><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5"/></span></span>
                            </div>
                            <div class="ProductCard-titleProp">Тэги:
                                <span class="ProductCard-tags" th:each="tag : ${book.getTags()}"><a
                                        th:href="'/tags/' + ${tag.getSlug()}"
                                        th:text="${tag.getTag()} + ${book.getTags().indexOf(tag) == book.getTags().size() - 1?'.':','}">Современные</a>
                                </span>
                            </div>
                            <div class="ProductCard-cost"><span class="ProductCard-titleProp">Цена:</span>
                                <span class="ProductCard-priceOld" th:text="${book.getPrice()}">₽300</span>
                                <span class="ProductCard-price" th:text="${book.getDiscountPrice()}">₽180</span>
                            </div>
                            <!--+div.-info
                            //+div.-cost
                            //    +div.-price $55.00
                            //    +div.-priceOld $115.00
                            //+div.-compare
                            //    +btn._default
                            //        +img('change.svg','icons/card').-icon
                            -->
                        </div>
                        <div class="ProductCard-text">
                            <p th:text="${book.getDescription()}">Таких, как я, называют Марами - отмеченными самой
                                богиней смерти Мораной. Когда-то у меня
                                и моих шести сестер был свой путь. Тогда люди нас уважали и просили о милосердии. Они
                                приносили нам подношения и молились нам. Но 200 лет назад все изменилось, когда принц
                                Серата осмелился поднять руку на одну из нас. Я пыталась отомстить, но погибли мы все.
                                Теперь правители Аракена, погрязшие в длительной войне со своим соседом Сератом, решили
                                вернуть меня к жизни. Дать второй шанс на месть и свободу, привязав меня к тому, против
                                кого я никогда не пойду. Таких, как он, называют Морок, и их боятся абсолютно все.
                            </p>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-alttext="Отложена"
                                        th:data-bookid="${book.getSlug()}"
                                        data-btnradio="buyblock" data-btntype="check" data-check="false"
                                        data-sendstatus="KEPT"><span class="btn-icon"><img
                                        alt="heart.svg" src="/assets/img/icons/heart.svg"/></span><span
                                        class="btn-content">Отложить</span>
                                </button>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-alttext="В корзине"
                                        th:data-bookid="${book.getSlug()}"
                                        data-btnradio="buyblock" data-btntype="check" data-check="false"
                                        data-sendstatus="CART"><span class="btn-icon"><img
                                        alt="shopping-basket.svg"
                                        src="/assets/img/icons/shopping-basket.svg"/></span><span class="btn-content">Купить</span>
                                </button>
                            </div>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span
                                    class="btn-icon"><img alt="download.svg"
                                                          src="/assets/img/icons/download.svg"/></span><span
                                    class="btn-content">Скачать</span></a>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-alttext="Вернуть из архива"
                                        data-bookid="[1111]" data-btnradio="buyblock" data-btntype="check"
                                        data-check="false" data-sendstatus="ARCHIVED"><span class="btn-icon"><img
                                        alt="archive.svg" src="/assets/img/icons/archive.svg"/></span><span
                                        class="btn-content">В архив</span>
                                </button>
                            </div>
                        </div>

                        <div id="myPopup">
                            <p>Ссылки для скачивания</p>
                            <div th:each="bookFile : ${book.getBookFiles()}">
                                <a th:href="'uploads/books/' + ${bookFile.getPath()}"
                                   th:text="${bookFile.getBookType()}"></a>
                            </div>
                            <span class="close" id="myPopupClose">close</span>
                        </div>
                        <div id="myOverlay"></div>
                        <!--+div.-cart-->
                        <!--    //+div.-cartElement.-cartElement_amount-->
                        <!--    //    +Amount._product-->
                        <!--    +div.-cartElement-->
                        <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
                    </div>
                </div>
                <div class="Product-comments">
                    <div class="Product-comments-header">
                        <h3 class="Product-comments-title">Отзывы
                        </h3><span class="Product-comments-amount" th:text="${book.getComments().size()} + ' отзывов'">567 отзывов</span>
                    </div>
                </div>
                <div class="Comments">
                    <div class="Comment" th:each="comment : ${book.getComments()}">
                        <div class="Comment-column Comment-column_pict">
                            <div class="Comment-avatar">
                            </div>
                        </div>
                        <div class="Comment-column">
                            <header class="Comment-header">
                                <div>
                                    <strong class="Comment-title" th:text="${comment.getUserName()}">Александр
                                        Кузнецов<span class="Comment-rating"><span
                                                class="Rating Rating_comment"><span class="Rating-stars"><span
                                                th:class="${comment.getRate() >= 1? 'Rating-star Rating-star_view' : 'Rating-star'}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span
                                                th:class="${comment.getRate() >= 2? 'Rating-star Rating-star_view' : 'Rating-star'}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span
                                                th:class="${comment.getRate() >= 3? 'Rating-star Rating-star_view' : 'Rating-star'}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span
                                                th:class="${comment.getRate() >= 4? 'Rating-star Rating-star_view' : 'Rating-star'}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span
                                                th:class="${comment.getRate() >= 5? 'Rating-star Rating-star_view' : 'Rating-star'}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span></span></span></span>
                                    </strong><span class="Comment-date" th:text="${comment.getDateTime()}">17.04.2020 16:40</span>
                                </div>
                            </header>
                            <div class="Comment-content">
                                <p th:text="${comment.getComment()}">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit doli. Aenean commodo ligula
                                    eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient
                                    montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                    eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                    aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a,
                                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                    tincidunt. Cras dapibus. Vivamus element semper nisi. Aenean vulputate eleifend
                                    tellus. Aenean leo ligula, porttitor eu, consequat vitae.
                                </p>
                                <div class="Comment-footer">
                                    <div class="Comment-appeal">
                                        <button class="btn btn_white btn_like" data-btnradio="two2" data-btntype="check"
                                                data-check="false" data-likeid="1111"><span class="btn-icon"><img
                                                alt="like.svg" src="/assets/img/icons/comment/like.svg"/></span><span
                                                class="btn-content" th:text="${comment.getPositiveRates()}">200</span>
                                        </button>
                                        <button class="btn btn_white btn_dislike" data-btnradio="two2"
                                                data-btntype="check" data-check="false" data-likeid="1111"><span
                                                class="btn-icon"><img alt="dislike.svg"
                                                                      src="/assets/img/icons/comment/dislike.svg"/></span><span
                                                class="btn-content" th:text="${comment.getNegativeRates()}">100</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="/assets/js/uploadNewBookImageButton.js"></script>
<script src="/assets/js/DownloadBooks.js"></script>
</body>
</html>
