
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.genres}, metacontent = 'Жанры', id = '52263780')}"></div>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment(selectedItem = 'genres')}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{topbar.genres}">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres">
            <div class="Tags Tags_embed" th:each="genre : ${genresList}">
              <div class="Tags-title">
                <div class="Tag"><a th:href="'/genres/' + ${genre.getSlug()}"
                                    th:text="${genre.getGenre()} + '(' + ${genre.getBooks().size()} + ')'">Лёгкое чтение<span
                        class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tags" th:each="subGenre : ${genre.getSubGenres()}">
                <div class="Tags-title">
                  <div class="Tag"><a th:href="'/genres/' + ${subGenre.getSlug()}"
                                      th:text="${subGenre.getGenre() + '(' + subGenre.getBooks().size() + ')'}">Детективы<span
                          class="undefined-amount">(10)</span></a>
                  </div>
                </div>
                <div class="Tag" th:each="subsubGenre : ${subGenre.getSubGenres()}">
                  <a th:href="'/genres/' + ${subsubGenre.getSlug()}"
                     th:text="${subsubGenre.getGenre() + '(' + subsubGenre.getBooks().size() + ')'}">Триллер<span
                          class="undefined-amount">(134)</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>
