<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.search}, metacontent = 'Поиск', id = '52263780')}"></div>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle Middle_search">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Поиск
            </h1>
            <div class="Section">
                <div class="search">
                    <form action="#" class="form form_search" data-searchlimit="5" data-searchoffset="0" method="post">
                        <input class="search-input" id="querypage" name="querypage"
                               placeholder="Search over 30 million book titles"
                               th:value="${word}" type="text"/>
                        <button class="search-button" id="searchpage" name="searchpage" type="submit">Поиск
                        </button>
                    </form>
                </div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header">
                    <h2 class="Section-title Middle-searchHeader"
                        th:text="'Найдено ' + ${searchResults.getCount()} + ' книг'">Найдено 40 книг
                    </h2>
                </header>
                <div class="Cards Cards_search Cards_refresh">
                    <div class="Card" th:each="book : ${searchResults.getBooks()}">
                        <div class="Card-picture"><a th:href="'/book/' + ${book.getSlug()}"><img alt="card.jpg"
                                                                                                 th:src="${book.getImage()}"/></a>
                            <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
                            </div>
                        </div>
                        <div class="Card-content">
                            <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                          th:text="${book.getTitle()}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.getAuthor()}">Кондратенко Александр Петрович
                            </div>
                            <div class="Card-cost"><span class="Card-priceOld"
                                                         th:text="${book.getPrice()}">₽300.00</span><span
                                    class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" data-refreshlimit="5"
                                                                     data-refreshoffset="0" data-refreshquery="Техника"
                                                                     data-refreshshow="search"
                                                                     href="#"
                                                                     th:attr="data-refreshquery=${word}">Показать
                        еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>
