<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.authors}, metacontent = 'Страница с авторами', id = '59641147')}"></div>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment(selectedItem = 'authors')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links" >
                        <a th:each="authors : ${authorsMap}" class="Authors-link" th:href="'#' + ${authors.getKey()}" th:text="${authors.getKey()}">А</a>
                    </div>
                    <div class="Authors-block" th:each="authors : ${authorsMap}">
                        <h2 class="Authors-title" th:id="${authors.getKey()}" th:text="${authors.getKey()}">А
                        </h2>
                        <div class="Authors-letter">
                            <div th:each="author : ${authors.getValue()}" class="Authors-item"><a
                                    th:href="'/authors/' + ${author.getId()}"
                                    th:text="${author.getFullName()}">Абгарян
                                Наринэ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>
