<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = ${authorData.getFullName()}, metacontent = 'Страница с авторами', id = '93601584')}"></div>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment(selectedItem = 'authors')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{/authors}">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${authorData.getFullName()}">Борис Васильевич Бедный</span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${authorData.getFullName()}">Борис Васильевич Бедный
            </h1>
            <article class="Article">
                <div class="sdf">
                </div>
                <div class="Spoiler">
                    <div class="Spoiler-visible">
                        <div class="pict pict_left"><img alt="card.jpg" src="/assets/img/content/main/card.jpg"/>
                        </div>
                        <div>
                            <h2>Биография
                            </h2>
                            <p th:text="${authorData.getBiography().substring(0,100)}">
                                Борис Бедный родился в семье учителя в 1916 году в станице Ярославская Краснодарского
                                края. Окончил Майкопский лесной техникум и был послан учиться в Ленинградскую
                                лесотехническую академию. Стал специалистом по сплаву леса и приехал в Республику Коми,
                                работать на сплавных предприятиях.
                            </p>
                        </div>
                    </div>
                    <div class="Spoiler-hide" th:text="${authorData.getBiography().substring(100)}">
                        <p>"Писать он начал до войны, в академии,- рассказал о нем в предисловии к книге "Первое дело"
                            поэт К.Ваншенкин.- Был участником литературных кружков и студий. Но всерьез вернулся к этому
                            в сорок шестом, в далекой сплавконторе, на Трехозерной запани. Печатался в Коми
                            республиканской газете "За новый Север" ("Красное знамя") и наконец решился вновь переломить
                            судьбу, поступив в Литературный институт" в 1952г.
                        </p>
                        <p>Борис Бедный широко печатался, особенно в журнале "Огонек".
                        </p>
                        <p>Первая книга - сборник повестей и рассказов "Большой поток" - посвящена людям леспромхоза.
                            Автор книг "Рассказы" (1954), "Неразменное счастье. Повести и рассказы" (1962). Наиболее
                            известная его повесть "Девчата" (1961) переведена на пятнадцать языков. По написанному им же
                            сценарию был поставлен одноименный фильм, до сих пор имеющий огромный успех.
                        </p>
                        <p>С литературным институтом Б.Бедный был связан еще более двадцати лет, уже как преподаватель.
                            Вел он семинар и на Высших литературных курсах. У него занимались Михаил Алексеев, Чингиз
                            Айтматов, Анатолий Аграновский, Игнатий Дворжецкий.
                        </p>
                        <p>В жизни Бориса Бедного была одна постоянная горькая боль. Летом сорок первого, в жестоких
                            боях под Воронежем он, командуя стрелковым взводом, попал в окружение, а потом в плен. Был
                            отправлен в Германию, в лагерь, на тяжелейшие работы, прошел настоящий ад, не потеряв себя и
                            не уронив достоинства. В октябре 1945 г. после проверки он был демобилизован в своем же
                            офицерском звании младшего лейтенанта запаса и вскоре приступил к работе по специальности.
                        </p>
                        <p>Есть в аннотации Константина Ваншенкина и детали, позволяющие выйти на родственные связи
                            писателя с нашей республикой. Ведь жену он привез в Москву из Сыктывкара. Звали ее Маша. Она
                            работала стюардессой на авиалинии Сыктывкар-Быково.
                        </p>
                        <p>Поселок Седкыркещ построен бывшими военнопленными и "власовцами", многие из которых даже
                            оружия в руках не держали. Они одевались плохо, часто болели, жили, в основном, в землянках.
                            В такой атмосфере и вращался писатель Борис Бедный.
                        </p>
                        <p>Борис Васильевич Бедный умер в 1976 г. в Москве. Шел по улице, почувствовал себя плохо.
                            Острый обширный инфаркт, до больницы не довезли…
                        </p>
                    </div>
                    <div class="Spoiler-footer">
                        <button class="Spoiler-trigger btn btn_primary btn_nr" data-hidetext="Показать полностью"
                                data-showtext="Свернуть"
                                type="button">
                        </button>
                    </div>
                </div>
            </article>
            <div class="Section">
                <header class="Section-header">
                    <h2 class="Section-title">Книги автора
                    </h2>
                </header>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards">
                        <div class="Slider-item" th:each="book : ${authorData.getBooks()}">
                            <div class="Slider-content">
                                <div class="Card">
                                    <div class="Card-picture"><a th:href="'/book/' + ${book.getSlug()}">
                                        <img alt="card.jpg"
                                             th:src="${book.getImage()}"/></a>
                                        <div class="Card-sale" th:text="${book.getDiscount()} + '% скидка'">30% скидка
                                        </div>
                                        <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                                                class="Card-ribbonText">Бестселлер</span>
                                        </div>
                                        <a class="Card-status" title="Отложена"><img alt="heart.svg"
                                                                                     src="/assets/img/icons/heart.svg"/></a>
                                    </div>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                                      th:text="${book.getTitle()}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.getAuthor()}">Кондратенко
                                            Александр Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                </div>
                <footer class="Section-footer"><a class="Author-books"
                                                  th:href="'/books/author/' + ${authorData.getId()}">Все книги
                    автора<span
                            class="Author-amount" th:text="'('+${authorData.getBooks().size()}+')'">(55)</span></a>
                </footer>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>
