<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.main}, metacontent = 'Главная', id = '64223515')}"></div>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment(selectedItem = 'main')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div class="Section-header">
                    <h2 class="Section-title">Рекомендуемое
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="recommended" data-loadlimit="5" data-loadoffset="0">
                        <div class="Slider-item" th:each="book : ${recommendedBooks.getBooks()}">
                            <div class="Slider-content">
                                <div class="Card">
                                    <a class="Card-picture" th:href="'/book/' + ${book.getSlug()}"><img
                                            alt="card.jpg" th:src="${book.getImage()}"/>
                                        <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
                                        </div>
                                        <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                                                class="Card-ribbonText">Бестселлер</span>
                                        </div>
                                    </a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                                      th:text="${book.getTitle()}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.getAuthor()}">Кондратенко Валерий
                                            Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
                <div class="Section-header">
                    <h2 class="Section-title">Новинки
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="recent" data-loadlimit="5" data-loadoffset="0">
                        <div class="Slider-item" th:each="book : ${recentBooks.getBooks()}">
                            <div class="Slider-content">
                                <div class="Card"><a class="Card-picture" th:href="'/book/' + ${book.getSlug()}"><img
                                        alt="card.jpg" th:src="${book.getImage()}"/>
                                    <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
                                    </div>
                                    <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                                            class="Card-ribbonText">Бестселлер</span>
                                    </div>
                                </a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                                      th:text="${book.getTitle()}">Техника</a>
                                        </strong>
                                        <div class="Card-description"
                                             th:href="'/authors/' + ${book.getAuthor().getId()}"
                                             th:text="${book.getAuthor()}">Кондратенко Александр Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
                <div class="Section-header">
                    <h2 class="Section-title">Популярное
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="popular" data-loadlimit="5" data-loadoffset="0">
                        <div class="Slider-item" th:each="book : ${popularBooks.getBooks()}">
                            <div class="Slider-content">
                                <div class="Card"><a class="Card-picture" th:href="'/book/' + ${book.getSlug()}"><img
                                        alt="card.jpg" th:src="${book.getImage()}"/>
                                    <div class="Card-sale" th:text="${book.getDiscount() + '% скидка'}">30% скидка
                                    </div>
                                    <div class="Card-ribbon" th:hidden="${book.isBestseller()}?false:true"><span
                                            class="Card-ribbonText">Бестселлер</span>
                                    </div>
                                </a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a th:href="'/book/' + ${book.getSlug()}"
                                                                      th:text="${book.getTitle()}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.getAuthor()}">Кондратенко
                                            Александр Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.getPrice()}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.getDiscountPrice()}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="Middle-title">Книги по тегам
            </h2>
            <div class="Tags" id="tags" th:each="tag : ${tags}">
                <a class="Tag Tag_xs" th:href="'/tags/' + ${tag.getSlug()}" th:if="${tag.getBooks().size()} < 3"
                   th:text="${tag.getTag()}">современная литература</a>
                <a class="Tag Tag_sm" th:href="'/tags/' + ${tag.getSlug()}"
                   th:if="${tag.getBooks().size() > 2 && tag.getBooks().size() < 5}" th:text="${tag.getTag()}">классическая
                    литература</a>
                <a class="Tag" th:href="'/tags/' + ${tag.getSlug()}"
                   th:if="${tag.getBooks().size() > 4 && tag.getBooks().size() < 7}" th:text="${tag.getTag()}">зарубежная
                    литература</a>
                <a class="Tag Tag_md" th:href="'/tags/' + ${tag.getSlug()}"
                   th:if="${tag.getBooks().size() > 6 && tag.getBooks().size() < 9}"
                   th:text="${tag.getTag()}">фэнтези</a>
                <a class="Tag Tag_lg" th:href="'/tags/' + ${tag.getSlug()}" th:if="${tag.getBooks().size()} > 8"
                   th:text="${tag.getTag()}">английская литература</a>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>
