
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <div th:replace="~{fragments/support_head_fragment :: fragments(title = #{topbar.signin}, metacontent = 'Вход', id = '27449092')}"></div>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle Middle_form">
    <div class="Middle-top">
      <div class="wrap">
        <h1 class="Middle-title">Вход
        </h1>
      </div>
    </div>
    <div class="wrap">
      <main class="Middle-main">
        <form class="form Login" action="#" method="post">
          <div class="Login-ins">
            <div class="Login-step">
              <div class="form-group">
                <label class="form-label Login-title">Введите e-mail или телефон
                  <br>
                  <span th:if="${regOk}">Регистрация прошла успешно!</span>
                </label>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="row-block">
                    <label class="toggle Login-type">
                      <input type="radio" name="typeauth" value="phonetype" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Телефон</span>
                    </label>
                  </div>
                  <div class="row-block">
                    <label class="toggle Login-type">
                      <input id="mailtypeauth" name="typeauth" type="radio" value="mailtype"/><span
                            class="toggle-box"></span><span class="toggle-text">E-mail</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-input form-input_phone" id="phone" name="phone" type="text" placeholder="Введите телефон" data-mask="+7 (999) 999-99-99" data-validate="require"/>
                <input class="form-input form-input_mail" id="mail" name="mail" type="text" placeholder="Введите e-mail" data-validate="mail require"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="sendauth" id="sendauth" data-type="phone" data-send="">Далее
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="phone">
              <div class="form-group">
                <label class="form-label Login-title">Введите пароль:
                </label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" data-validate="key require" id="phonecode" name="phonecode" placeholder="Код"
                       type="text"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="toComeInPhone" id="toComeInPhone" data-send="">Войти
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="mail">
              <div class="form-group">
                <label class="form-label Login-title">Введите пароль:
                </label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" data-validate="key require" id="mailcode" name="mailcode" placeholder="Код"
                       type="text"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="toComeInMail" id="toComeInMail"
                        data-send="">Войти
                </button>
              </div>
            </div>
            <div class="form-group form-group_center"><a class="Login-reg" th:href="@{/signup}">Зарегистрироваться</a>
            </div>
            <div class="form-group form-group_center"><a class="Login-reg" th:href="@{/oauth2/authorization/facebook}">Войти
              с помощью FaceBook</a>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>
